.modal-mask
  .verification-popup
    .popup-header Авторизируйтесь
    .popup-text Подтвердите свой номер телефона,  чтобы оставлять жалобы и откликаться на них.
    input.custom-input(type="text" placeholder="Номер телефона")
    input.custom-input(type="text" placeholder="Код подтверждения")
    .button.button_gray Отправить
    .button.button_white Отмена



