.modal-mask
  .verification-popup
    .popup-header Авторизируйтесь
    .popup-text Подтвердите свой номер телефона,  чтобы оставлять жалобы и откликаться на них.
    .custom-input
    .button.button_gray Отправить
    .button.button_white Отмена



