.modal-mask
  .verification-popup
    .popup-header Добавление жалобы
    .popup-text Заголовок
    .popup-text.bold-text Лавочка на гоголя
    .popup-text Ваш комментарий к жалобе
    textarea.custom-text-area(placeholder="Введите ваш комментарий")
    .popup-text Добавьте фото (опционально)
    .complaint-img
    .popup-col
      .button.button_gray Отправить
      .button.button_white Отмена



