.modal-mask
  .add-complaint-popup.popup-container
    .popup-header Добавление жалобы
    .popup-text Заголовок
    .popup-text.bold-text.add-title Лавочка на гоголя
    .popup-text Ваш комментарий к жалобе
    textarea.custom-text-area.add-text-area(placeholder="Введите ваш комментарий")
    .popup-text Добавьте фото (опционально)
    .complaint-img
    .popup-col.button-col
      button.button.button_gray Отправить
      button.button.button_white Отмена



