.modal-mask
  .add-complaint-popup.popup-container
    .popup-header Добавление жалобы
    .popup-text Заголовок
    input.popup-text.bold-text(v-model="popTitle")

    .popup-text Адрес(Улица, дом)
      br
      input.popup-text.bold-text(v-model="popAdress")
    .popup-text Ваш комментарий к жалобе
    textarea.custom-text-area(placeholder="Введите ваш комментарий" v-model="popDesc")
    .popup-text Добавьте фото (опционально)
    .popup-col
      button.button.button_gray(v-on:click="postData") Отправить
      button.button.button_white(v-on:click="emitClose") Отмена



