.modal-mask
  .accept-complaint-popup.popup-container
    .popup-header Подтвердите заявку
    .popup-row.accept-complaint-row
      .popup-col
        .popup-text Жалоба
        .popup-text.bold-text Лавочка на гоголя
      .popup-col
        .popup-text Дата создания
        .popup-text.bold-text 21.02.2019
    .popup-text.accept-complaint-text Ваш комментарий к жалобе
    textarea.custom-text-area(placeholder="Введите ваш комментарий")
    .popup-row.button-row
      button.button.button_gray Отправить
      button.button.button_white Отмена



