.search-panel
  addComplaintPopup(v-if ="isAdd" v-on:close = "isAdd = false")
  .main-logo
    .logo City.Zen
    .note Сделаем город лучше. Вместе.
  .lower-panel
    .input
      input(
      placeholder="Найдите жалобы по названию, дате или категориям"
      )
    .button(v-on:click="isAdd = true") Добавить жалобу
