.search-panel
  .main-logo
    .logo City.Zen
    .note Сделаем город лучше. Вместе.
  .lower-panel
    input.search-input.custom-input(
    placeholder="Найдите жалобы по названию, дате или категориям"
    )
    button.button.add-compl-button Добавить жалобу
