.main-page
  acceptComplainPopup(v-if ="isAccepted")
  addComplaintPopup(v-if ="isAdd")
  verificationPopup(v-if ="isVerify")
  searchPanel
  .content-block
    .card-field(v-for="block in contentBlocks")
      .photo-block
        img(:src="block.photo" v-if="block.photo")
      .right-block
        .upper-bar
          .title {{block.title}}
          .date {{block.created_at}}
        .lower-bar
          .description-text {{block.description.slice(0,190)}}
             span(v-if="block.description >= 190")
          .more-info-button(@click="goToClaim(block)") Подробнее
          .description-text {{block.description}}
          .more-info-button(@click="goToClaim") Подробнее


