.claim-page
  searchPanel
  .content
    .left-block
      .title-panel
        .claim-title Лавочка на Гоголя
        .claim-date 21.12.2012
      .address Адрес: ул. Гоголя, 1
      .description {{description}}
    .right-block
