.claim-page
  searchPanel
  .content
    .left-block
      .title-panel
        .claim-title {{claim.title}}
        .claim-date {{claim.created_at}}
      .address Адрес: {{claim.address}}
      .description {{claim.description}}
      .photo-block
        img(:src="claim.photo" v-if="claim.photo")
    .right-block
      .help.button Хочу помочь
      .same-claim-title похожие жалобы
      .same-claim.claim(v-for="item in sameClaims") {{item.title}}
